.nav {
    background: white;
    width: 100%;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    list-style: none;
}

.navListItem {
    font-size: 0.9em;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1.5px solid white;
}

.navListItem:hover {
    border-top: 1.5px solid #96152b;
}

.navListItemLink {
    text-decoration: none;
    color: #1D1C1A;
}

